@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
body {
	color: #A88F57;
	background-color: #000;
	font-family: 'Fira Code', monospace;
	font-size: 0.9em;
}

article {
	clear: both;
}
article h1 {
	color: goldenrod;
}

article .article-title {
	color:#DD2727;
}

a {
	color: lightskyblue;
}

#page-content h2{
	color: #663399
}

.article-meta-tags {
	color: rgba(255, 255, 0, 0.75);
}

.site-tag {
	font-size: 1.4em;
}
.article img {
	border: none;
	padding: 7px 5px 5px 0;
}
.card{
	background-color: #000;
}
.card-body{
	padding-left: 0;
	background-color: inherit;
}

.article-titles{
	display: inline-block;
	width: 100%;
	color: #FFF900;
	font-size: 1.2em;
	vertical-align: 0.5%;
	background-color: #66339975;
}

.terms {
	max-width: 300px;
}

.terms>ul>li {
	border: none;
}

.terms>ul>li time {
	color: gray
}

.breadcrumb {
	background-color: black;
}

.version-span {
	padding-left: 0.3em;
	font-size: 0.5em;
	color: goldenrod;
}
.site-tag {
	padding: 10px 0 0 0;
}
.position {
	padding-right: 5em;
	padding-bottom: 10px;
}
.opposition {
	padding-left: 5em;
	padding-bottom: 10px;
}
